/*------------------------------------*\
    #components.pxh-navigation
\*------------------------------------*/

/*------------------------------------*\
    #pxh-navigation
\*------------------------------------*/

.pxh-navigation {
  @include pxh-fancy-scrollbar;
  position: absolute;
  top: $pxh-view-header-height - 1px; // only need to subtract a pixel if there's a border, so this shouldn't actually be hard-coded
  #{$pxh-drawer-side}: 0;
  bottom: $pxh-login-height;
  width: 100%;
  clear: both;
  border-style: solid;
  border-width: $pxh-navigation-border-width;
  border-color: $pxh-navigation-border-color;
  max-height: 100%;
  overflow-y: auto;

  &__link {
    position: relative;
    font-size: $pxh-navigation-link-font-size;
    display: block;
    width: 100%;
    height: $pxh-navigation-link-height;
    float: $pxh-drawer-side;
    clear: $pxh-drawer-side;
    padding-top: $pxh-base-spacing-unit;
    padding-bottom: 0;
    padding-#{$pxh-drawer-side}: $pxh-drawer-margin;
    padding-#{$pxh-drawer-opposite-side}: 0;
  }

  &__item-icon {
    text-align: center;
    float: $pxh-drawer-side;
    display: block;
    width: $pxh-drawer-margin;

    &--error {
      color: $pxh-navigation-item-icon-color-error;
      font-size: $pxh-navigation-item-icon-error-font-size;
    }
  }
}


/*------------------------------------*\
    #pxh-badge
\*------------------------------------*/

.pxh-badge {
  .pxh-navigation__link &,
  .pxh-navigation__sub-link & {
    position: absolute;
    #{$pxh-drawer-opposite-side}: $pxh-base-spacing-unit / 3;
  }

  .pxh-navigation__link & {
    top: 33%; // magic number
  }

  .pxh-navigation__sub-link & {
    top: 30%; // magic number
  }
}

/*------------------------------------*\
    #pxh-navigation__item-text
\*------------------------------------*/

@mixin pxh-navigation__item-text--in-state-scale {
  padding-#{$pxh-drawer-side}: $pxh-drawer-margin;
  font-size: $pxh-navigation-item-text-font-size;
}

@mixin pxh-navigation__item-text--in-state-opacity {
  @include in-state-opacity;
}

@mixin pxh-navigation__item-text--in-state {
  @include pxh-navigation__item-text--in-state-opacity;
  @include pxh-navigation__item-text--in-state-scale;
}

@keyframes pxh-navigation__item-text--animate-in {
  0% {
    @include out-state;
  }
  33% {
    @include pxh-navigation__item-text--in-state-scale;
    @include out-state-opacity;
  }
  100% {
    @include pxh-navigation__item-text--in-state;
  }
}

@keyframes pxh-navigation__item-text--animate-out {
  0% {
    @include pxh-navigation__item-text--in-state;
  }
  33% {
    @include pxh-navigation__item-text--in-state-scale;
    @include out-state-opacity;
  }
  34% {
    @include out-state;
  }
  100% {
    @include out-state;
  }
}

.pxh-navigation__item-text {
  &--animate-in {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-navigation__item-text--animate-in;
  }
  &--animate-out {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-navigation__item-text--animate-out;
  }
}

.pxh-navigation__item-text {
  @include pxh-navigation__item-text--in-state;
  // @include pxh-animation(pxh-navigation__item-text--in);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $pxh-drawer-width-wide - ($pxh-drawer-margin * 3); // has to be narrower than you think to accomodate potential vertical scrollbar in IE11
  float: $pxh-drawer-side;
}

// hide sub-lists (such as sub-navigation for microapps besides the one
// the user is currently using) with this class
// this class should be toggled as the user navigates between microapps
.pxh-navigation__sub-list--hidden {
  display: none;
}

/*------------------------------------*\
    #pxh-navigation__sub-link
\*------------------------------------*/

@mixin pxh-navigation__sub-link--in-state-scale {
  height: $pxh-navigation-sub-link-height;
  padding-top: $pxh-base-spacing-unit / 2;
  padding-bottom: 0;
  padding-#{$pxh-drawer-opposite-side}: $pxh-base-spacing-unit / 8;
  padding-#{$pxh-drawer-side}: $pxh-drawer-margin * 3;
  font-size: $pxh-navigation-sub-link-font-size;
}

@mixin pxh-navigation__sub-link--in-state-opacity {
  @include in-state-opacity;
}

@mixin pxh-navigation__sub-link__in-state {
  @include pxh-navigation__sub-link--in-state-scale;
  @include pxh-navigation__sub-link--in-state-opacity;
}

@mixin pxh-navigation__sub-link--out-state {
  @include out-state;
  height: 0;
  padding: 0;
}

@keyframes pxh-navigation__sub-link--animate-in {
  0% {
    @include pxh-navigation__sub-link--out-state;
  }
  33% {
    @include pxh-navigation__sub-link--in-state-scale;
    @include out-state-opacity;
  }
  100% {
    @include pxh-navigation__sub-link--in-state;
  }
}

@keyframes pxh-navigation__sub-link--animate-out {
  0% {
    @include pxh-navigation__sub-link--in-state;
  }
  20% {
    @include pxh-navigation__sub-link--in-state-scale;
    @include out-state-opacity;
  }
  40% {
    @include pxh-navigation__sub-link--out-state;
  }
  100% {
    @include pxh-navigation__sub-link--out-state;
  }
}

.pxh-navigation__sub-link {
  &--animate-in {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-navigation__sub-link--animate-in;

  }
  &--animate-out {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-navigation__sub-link--animate-out;
  }
}

.pxh-navigation__sub-link {
  // @include pxh-animation(pxh-navigation__sub-link--in);
  @include pxh-navigation__sub-link--in-state;
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $pxh-drawer-width-wide;
  text-decoration: none;
}

.pxh-navigation__sub-item-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $pxh-drawer-width-wide - ($pxh-drawer-margin * 3.25); // has to be narrower than the available space to accomodate potential pxh-badge
  float: $pxh-drawer-side;
}

.pxh-navigation__sub-link--selected {
  background-color: $pxh-navigation-sub-link-bg-color-selected;
  color: $pxh-navigation-sub-link-text-color-selected;
  &:link,
  &:visited {
    background-color: $pxh-navigation-sub-link-bg-color-selected;
    color: $pxh-navigation-sub-link-text-color-selected;
  }
  &:hover {
    background-color: $pxh-navigation-sub-link-bg-color-selected;
    color: $pxh-navigation-sub-link-text-color-selected;
  }
}

/*------------------------------------*\
    #pxh-navigation__sub-item--divider
\*------------------------------------*/

.pxh-navigation__sub-item--divider {
  margin-top: $pxh-navigation-divider-margin * .75;
  margin-bottom: $pxh-navigation-divider-margin * .75;
  margin-#{$pxh-drawer-side}: $pxh-drawer-margin * 3;
  margin-#{$pxh-drawer-opposite-side}: $pxh-drawer-margin;
  display: block;
  height: $pxh-navigation-sub-item-divider-height;
  background-color: $pxh-navigation-sub-item-divider-color;
  // transition: all 200ms linear;
  // transition-delay: 200ms;
}

/*------------------------------------*\
    #pxh-navigation responsive rules
\*------------------------------------*/

@include mq($from: md) {
  .pxh-navigation--narrow\@md {
    width: 100%;
    .pxh-navigation__item-text {
      // @include pxh-animation(pxh-navigation__item-text--out);
      @include out-state;
    }
    .pxh-navigation__sub-link {
      // @include pxh-animation(pxh-navigation__sub-link--out);
      @include pxh-navigation__sub-link--out-state;
    }
    .pxh-navigation__sub-item:last-of-type {
      .pxh-navigation__sub-link { // really don't like nesting but don't know how else to target this
        margin-bottom: 0;
      }
    }
    .pxh-navigation__sub-item--divider {
      margin-top: 0;
      height: 0;
      // transition-delay: 0;
    }
    .pxh-badge {
      @include pxh-badge--out-state;
    }
  }
}

@include mq($from: lg) {
  .pxh-navigation--wide\@lg {
    .pxh-navigation__item-text {
      // @include pxh-animation(pxh-navigation__item-text--in);
      @include pxh-navigation__item-text--in-state;
    }
    .pxh-navigation__sub-link {
      // @include pxh-animation(pxh-navigation__sub-link--in);
      @include pxh-navigation__sub-link--in-state;
    }
    .pxh-navigation__sub-item:last-of-type {
      .pxh-navigation__sub-link { // really don't like nesting but don't know how else to target this
        margin-bottom: $pxh-drawer-margin / 2;
      }
    }
    .pxh-navigation__sub-item--divider {
      margin-top: $pxh-navigation-divider-margin * 1.5;
      margin-#{$pxh-drawer-side}: $pxh-drawer-margin * 3;
      margin-#{$pxh-drawer-opposite-side}: $pxh-drawer-margin;
      display: block;
      height: $pxh-navigation-sub-item-divider-height;
      background-color: $pxh-navigation-sub-item-divider-color;
      // transition: all 200ms linear;
      // transition-delay: 200ms;
    }
    .pxh-badge {
      @include pxh-badge--in-state;
    }
  }
}

/*------------------------------------*\
    #px-theme overrides
\*------------------------------------*/

.pxh-navigation__list.pxh-navigation__list.pxh-navigation__list { // chained to override px-theme
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pxh-navigation__link.pxh-navigation__link.pxh-navigation__link,
.pxh-navigation__link:link.pxh-navigation__link:link.pxh-navigation__link:link,
.pxh-navigation__link:visited.pxh-navigation__link:visited.pxh-navigation__link:visited { // chained to override px-theme
  text-decoration: none;
  color: $pxh-navigation-link-text-color;
}

.pxh-navigation__link:hover.pxh-navigation__link:hover.pxh-navigation__link:hover { // chained to override px-theme
  background-color: $pxh-navigation-link-bg-color-hover;
  color: $pxh-navigation-link-text-color-hover;
}

.pxh-navigation__link--selected.pxh-navigation__link--selected.pxh-navigation__link--selected,
.pxh-navigation__link--selected:link.pxh-navigation__link--selected:link.pxh-navigation__link--selected:link,
.pxh-navigation__link--selected:visited.pxh-navigation__link--selected:visited.pxh-navigation__link--selected:visited,
.pxh-navigation__link--selected:hover.pxh-navigation__link--selected:hover.pxh-navigation__link--selected:hover { // chained to override px-theme
  background-color: $pxh-navigation-link-bg-color-selected;
  color: $pxh-navigation-link-text-color-selected;
}

.pxh-navigation__link--active.pxh-navigation__link--active.pxh-navigation__link--active,
.pxh-navigation__link--active:link.pxh-navigation__link--active:link.pxh-navigation__link--active:link,
.pxh-navigation__link--active:visited.pxh-navigation__link--active:visited.pxh-navigation__link--active:visited {
  background-color: $pxh-navigation-link-bg-color-active;
  color: $pxh-navigation-link-text-color-active;
}

.pxh-navigation__sub-list.pxh-navigation__sub-list.pxh-navigation__sub-list { // chained to override px-theme
  clear: both;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pxh-navigation__sub-item:last-of-type {
  .pxh-navigation__sub-link { // really don't like nesting but don't know how else to target this
    margin-bottom: $pxh-drawer-margin / 2;
  }
}

.pxh-navigation__sub-link.pxh-navigation__sub-link.pxh-navigation__sub-link,
.pxh-navigation__sub-link:link.pxh-navigation__sub-link:link.pxh-navigation__sub-link:link,
.pxh-navigation__sub-link:visited.pxh-navigation__sub-link:visited.pxh-navigation__sub-link:visited { // chained to override px-theme
  color: $pxh-navigation-sub-link-text-color;
}

.pxh-navigation__sub-link:hover.pxh-navigation__sub-link:hover.pxh-navigation__sub-link:hover { // chained to override px-theme
  background-color: $pxh-navigation-sub-link-bg-color-hover;
  color: $pxh-navigation-sub-link-text-color-hover;
}

.pxh-navigation__sub-link--selected.pxh-navigation__sub-link--selected.pxh-navigation__sub-link--selected,
.pxh-navigation__sub-link--selected:link.pxh-navigation__sub-link--selected:link.pxh-navigation__sub-link--selected:link,
.pxh-navigation__sub-link--selected:visited.pxh-navigation__sub-link--selected:visited.pxh-navigation__sub-link--selected:visited { // chained to override px-theme
  background-color: $pxh-navigation-sub-link-bg-color-selected;
  color: $pxh-navigation-sub-link-text-color-selected;
}

.pxh-navigation__sub-link--settings {
  @include pxh-override-px-theme-text-color('pxh-navigation__sub-link--settings',$pxh-navigation-sub-link-settings-text-color);
}
