/*------------------------------------*\
    #components.pxh-notification
\*------------------------------------*/

@mixin pxh-toast {
  display: flex;
  // @if $pxh-language-direction == 'rtl' { // handled by direction: rtl on body element
  //   flex-direction: row-reverse;
  // }
  pointer-events: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: $pxh-toast-text-color;
  background: $pxh-toast-bg-color;
  &--expanded {
    height: auto;
  }
}

@mixin pxh-toast__icon {
  text-align: center;
  flex-shrink: 0;
  align-self: stretch;
  min-height: $pxh-toast-height;
}

@mixin pxh-toast__text {
  text-align: $pxh-drawer-side;
  flex-grow: 2;
  margin: auto $pxh-toast-margin auto $pxh-toast-margin;
  padding: $pxh-toast-margin 0 0 0;
  padding-#{$pxh-drawer-side}: ($pxh-toast-margin * 2);
  overflow: hidden;
  position: relative;
  line-height: 1.2;
}

@mixin pxh-toast__more {
  position: absolute;
  top: $pxh-toast-margin * 7;
  width: 100%;
  height: $pxh-toast-margin * 7;
  padding: ($pxh-toast-margin * 3) - 2px 0 $pxh-toast-margin 0;
  background: $pxh-toast-more-bg;
  text-align: center;
  &--expanded {
    position: relative;
    top: 0;
    padding-bottom: $pxh-toast-margin - 2px;
    padding-left: $pxh-toast-margin * 2;
    height: auto;
    background: transparent;
  }
}

@mixin pxh-toast__more-button {
  color: $pxh-toast-more-button-text-color;
  background-color: $pxh-toast-more-button-bg-color;
  border-style: solid;
  border-width: $pxh-toast-more-button-border-width;
  border-color: $pxh-toast-more-button-border-color;
  border-radius: 100%;
  height: $pxh-toast-margin * 4;
  width: $pxh-toast-margin * 4;
  padding: 2px 0 1px 0;
  display: inline-block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: $pxh-toast-more-button-font-size;
  &:hover {
    color: $pxh-toast-more-button-text-color-hover;
    background-color: $pxh-toast-more-button-bg-color-hover;
  }
}

@mixin pxh-toast__action {
  flex-shrink: 0;
  text-align: center;
  margin: ($pxh-toast-margin * 3) ($pxh-toast-margin * 2) 0 ($pxh-toast-margin * 2);
}

@mixin pxh-toast__button {
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-style: solid;
  border-width: $pxh-toast-button-border-width;
  border-color: $pxh-toast-button-border-color;
  padding: ($pxh-base-spacing-unit / 2);
  background-color: $pxh-toast-button-bg-color;
  color: $pxh-toast-button-text-color;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    color: $pxh-toast-button-text-color-hover;
    background-color: $pxh-toast-button-bg-color-hover;
  }
}

@mixin pxh-toast__timestamp {
  margin-left: $pxh-toast-margin;
  color: $pxh-toast-timestamp-text-color;
  flex-shrink: 0;
  text-align: $pxh-drawer-opposite-side;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin pxh-toast__dismiss {
  text-align: center;
  font-size: $pxh-toast-dismiss-font-size;
  flex-basis: auto;
  width: $pxh-toast-margin * 8;
  flex-shrink: 0;
}

@mixin pxh-toast__dismiss-button {
  color: $pxh-toast-dismiss-button-icon-color;
  text-decoration: none;
  display: block;
  padding: ($pxh-toast-margin * 5) ($pxh-toast-margin * 2) 0 ($pxh-toast-margin * 2);
  height: $pxh-toast-height;
  &:hover {
    color: $pxh-toast-dismiss-button-icon-color-hover;
  }
}

@mixin pxh-toast--in-state-scale {
  height: $pxh-toast-height;
  margin-bottom: $pxh-toast-margin;
  font-size: $pxh-toast-font-size;
}

@mixin pxh-toast--in-state-opacity {
  @include in-state-opacity;
}

@mixin pxh-toast--out-state-scale {
    @include out-state-scale;
    height: 0;
}

@mixin pxh-toast--in-state {
  @include pxh-toast--in-state-opacity;
  @include pxh-toast--in-state-scale;
}

@mixin pxh-toast--out-state {
  @include pxh-toast--out-state-scale;
  @include out-state-opacity;
}

@mixin pxh-notification--in-state-scale {
  height: $pxh-toast-height;
  font-size: $pxh-notification-font-size;
  border-style: solid;
  border-width: $pxh-notification-border-width;
  border-color: $pxh-notification-border-color;
}

@mixin pxh-notification--in-state-opacity {
  @include in-state-opacity;
}

@mixin pxh-notification--out-state-scale {
    @include out-state-scale;
    height: 0;
}

@mixin pxh-notification--in-state {
  @include pxh-notification--in-state-opacity;
  @include pxh-notification--in-state-scale;
}

@mixin pxh-notification--out-state {
  @include pxh-notification--out-state-scale;
  @include out-state-opacity;
}

@keyframes pxh-notification--animate-in {
  0% {
    @include pxh-notification--out-state;
  }
  33% {
    @include pxh-notification--in-state-scale;
    @include out-state-opacity;
  }
  66% {
    @include pxh-notification--in-state;
  }
  100% {
    @include pxh-notification--in-state;
  }
}

@keyframes pxh-notification--animate-out {
  0% {
    @include pxh-notification--in-state;
  }
  33% {
    @include pxh-notification--in-state-scale;
    @include out-state-opacity;
  }
  66% {
    @include pxh-notification--out-state;
  }
  100% {
    @include pxh-notification--out-state;
  }
}

.pxh-notifications {
  z-index: 800;
  position: fixed;
  bottom: ($pxh-drawer-margin * 3) - 4px;
  left: $pxh-notification-margin;
  right: $pxh-notification-margin;
  max-width: $pxh-base-spacing-unit * 32;
  border-radius: 2px;
  background-color: $pxh-notifications-bg-color;
  color: $pxh-notifications-text-color;
  border-style: solid;
  border-width: $pxh-notifications-border-width;
  border-color: $pxh-notifications-border-color;
  display: none;

  @include mq($from: md) {
    &\@md {
      width: $pxh-base-spacing-unit * 32;
    }

    &--narrow\@md {
      #{$pxh-drawer-side}: $pxh-notification-margin;
      #{$pxh-drawer-opposite-side}: auto;
      bottom: ($pxh-drawer-margin * 3) + 6px;
    }
  }

  @include mq($from: lg) {
    &--wide\@lg {
      #{$pxh-drawer-side}: $pxh-notification-margin;
      #{$pxh-drawer-opposite-side}: auto;
      bottom: ($pxh-drawer-margin * 3) - 4px;
    }
  }

  &--visible {
    display: block;
  }

  &__header {
    height: ($pxh-base-spacing-unit * 2) + (($pxh-base-spacing-unit / 3) * 2); // magic number -- fix this
    display: flex;
    // @if $pxh-language-direction == 'rtl' { // handled by direction: rtl on body element
    //   flex-direction: row-reverse;
    // }
    border-style: solid;
    border-width: $pxh-notifications-header-border-width;
    border-color: $pxh-notifications-header-border-color;
  }

  &__title {
    padding-top: $pxh-notification-margin * 2;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__action {
    min-width: $pxh-notification-margin * 16;
    text-align: $pxh-drawer-side;
    padding-#{$pxh-drawer-side}: $pxh-notification-margin * 2;
    padding-top: $pxh-notification-margin * 2;
  }

  &__link {
    @include pxh-override-px-theme-text-color('pxh-notifications__link', $pxh-notifications-link-text-color, $pxh-notifications-link-text-color-hover);
    color: $pxh-notifications-link-text-color;
    text-decoration: none;

    &:hover {
      color: $pxh-notifications-link-text-color-hover
    }
  }

  &__clear {
    min-width: $pxh-notification-margin * 16;
    color: $pxh-notifications-clear-text-color;
    text-decoration: none;
    text-align: $pxh-drawer-opposite-side;
    padding-right: $pxh-notification-margin * 2;
    padding-left: $pxh-notification-margin * 2;
    padding-top: $pxh-notification-margin * 2;

    a {
      color: $pxh-notifications-clear-text-color;
      text-decoration: none;

      &:hover {
        color: $pxh-notifications-clear-text-color-hover;
      }
    }
  }

  &__list {
    @include pxh-fancy-scrollbar;
    position: relative;
    max-height: ($pxh-notification-height * 3) + ($pxh-notification-height / 2);
    min-height: $pxh-notification-height;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    @include mq($from: md) {
      &\@md {
      max-height: ($pxh-notification-height * $pxh-notification-max-count) + ($pxh-notification-height / 2);
      }
    }
  }

  &__empty {
    position: absolute;
    bottom: 0;
    height: $pxh-notification-height;
    z-index: 850;
    font-style: italic;
    color: $pxh-notifications-empty-text-color;
    width: 100%;
    text-align: center;
    padding-top: $pxh-notification-height / 3;
  }
}

.pxh-notification {
  @include pxh-toast;
  @include pxh-notification--in-state;
  z-index: 900;

  &--animate-in {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-notification--animate-in;
  }

  &--animate-out {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-notification--animate-out;
  }

  &__icon {
    @include pxh-toast__icon;
    padding-top: $pxh-toast-margin * 4;
    padding-#{$pxh-drawer-side}: $pxh-toast-margin;
    flex-basis: $pxh-toast-margin * 8;
    font-size: $pxh-notification-icon-font-size;

    &--green {
      color: $pxh-notification-icon-color-green;
    }

    &--blue {
      color: $pxh-notification-icon-color-blue;
    }

    &--orange {
      color: $pxh-notification-icon-color-orange;
    }

    &--red {
      color: $pxh-notification-icon-color-red;
    }
  }

  &__text {
    @include pxh-toast__text;
  }

  &__link {
    @include pxh-override-px-theme-text-color('pxh-notification__link', $pxh-notification-link-text-color, $pxh-notification-link-text-color-hover);
    text-decoration: none;
    color: $pxh-notification-link-text-color;

    &:hover {
      color: $pxh-notification-link-text-color-hover;
    }
  }

  &__more {
    @include pxh-toast__more;
  }

  &__more-button {
    @include pxh-toast__more-button;
    @include pxh-override-px-theme-text-color('pxh-notification__more-button'$pxh-notification-more-button-text-color, $pxh-notification-more-button-text-color-hover);
    @include pxh-override-px-theme-bg-color('pxh-notification__more-button', $pxh-notification-more-button-bg-color, $pxh-notification-more-button-bg-color-hover);
  }

  &__timestamp {
    @include pxh-toast__timestamp;
    padding-top: $pxh-toast-margin * 5.5;
    max-width: $pxh-toast-height * 1.5;
  }

  &__dismiss {
    @include pxh-toast__dismiss;
  }

  &__dismiss-button {
    @include pxh-toast__dismiss-button;
    color: $pxh-notification-dismiss-button-icon-color;
    @include pxh-override-px-theme-text-color('pxh-notification__dismiss-button', $pxh-notification-dismiss-button-icon-color, $pxh-notification-dismiss-button-icon-color-hover);
  }
}
