/*------------------------------------*\
    #settings.theme-default
\*------------------------------------*/

/// Define whether the drawer should appear on the left or right side of the browser window
/// @group pxh-settings
/// @type String
$pxh-drawer-side: null !default;

/// Define the side of the browser window opposite the drawer (e.g. 'right' if the drawer should appear on the left)
/// @group pxh-settings
/// @type String
$pxh-drawer-opposite-side: null !default;

@if $pxh-language-direction == 'rtl' {
  $pxh-drawer-side: right !default;
  $pxh-drawer-opposite-side: left !default;
} @else {
  $pxh-drawer-side: left !default;
  $pxh-drawer-opposite-side: right !default;
}




/// Path to web font
/// @group pxh-settings
/// @type String [default] - Webfont path
$webfont-path: '../fonts' !default;

/// Name to associate with web font
$webfont-name: 'GE Inspira Sans' !default;

/// File name of regular weight web font
$webfont-file-name-regular: GEInspiraSans !default;

/// File name of bold weight web font
$webfont-file-name-bold: GEInspiraSans-Bold !default;

/// File name of italic web font 
$webfont-file-name-italic: GEInspiraSans-Italic !default;

/// File name of bold italic web font
$webfont-file-name-bold-italic: GEInspiraSans-BoldItalic !default;




/// List of media query breakpoints
/// @group pxh-settings
$mq-breakpoints: (
  md:  768px,
  lg: 1024px,
) !default;




/// Path to Font Awesome fonts
/// @group pxh-settings
/// @type String
//$fa-font-path: '//dzlpbrbc7yvq0.cloudfront.net/libs/font-awesome/4.4.0/fonts' !default;
$fa-font-path: '../fonts' !default;



/// <html> and <body> elements
/// @group pxh-base
/// Base background color
$pxh-base-bg-color: $gray8 !default;

/// Base text color
$pxh-base-text-color: $black !default;

/// Base font family
$pxh-base-font-family: 'GE Inspira Sans', 'Helvetica', 'Arial', sans-serif !default;



/// <hr> element
/// @group pxh-hr
/// Horizontal rule color
$pxh-hr-color: $gray6 !default;



/// <a> element
/// @group pxh-link 
/// Default hyperlink text color
$pxh-link-text-color: $primary-blue !default;

/// Hyperlink text color on hover
$pxh-link-text-color-hover: $pxh-link-text-color !default;

/// Default hyperlink text decoration 
$pxh-link-text-decoration: underline !default;

/// Hyperlink text decoration on hover
$pxh-link-text-decoration-hover: none !default;




/// @group pxh-badge
$pxh-badge-text-color:                  $white !default;
$pxh-badge-text-color-inverse:          $black !default;
$pxh-badge-bg-color:                    $gray5 !default;
$pxh-badge-border-color:                $gray5 !default;
$pxh-badge-border-width:                1px !default;

$pxh-badge-bg-color-navigation:         $select-blue-pressed !default;
$pxh-badge-border-color-navigation:     $select-blue-pressed !default;

$pxh-badge-bg-color-primary:            $primary-blue !default;
$pxh-badge-border-color-primary:        $primary-blue !default;

$pxh-badge-bg-color-important:          $alert-red !default;
$pxh-badge-border-color-important:      $alert-red !default;

$pxh-badge-bg-color-warning:            $alert-orange !default;
$pxh-badge-border-color-warning:        $alert-orange !default;

$pxh-badge-bg-color-error:              $alert-yellow !default;
$pxh-badge-border-color-error:          $alert-yellow !default;

$pxh-badge-bg-color-info:               $alert-blue !default;
$pxh-badge-border-color-info:           $alert-blue !default;

$pxh-badge-bg-color-healthy-black:      $black !default;
$pxh-badge-border-color-healthy-black:  $black !default;

$pxh-badge-bg-color-healthy-white:      $white !default;
$pxh-badge-border-color-healthy-white:  $gray5 !default;

$pxh-badge-font-size: $pxh-base-font-size * 0.866666666666666 !default;




/// @group pxh-drawer
/// Drawer background color
$pxh-drawer-bg-color: $gray10 !default;

/// Drawer toggle icon color
$pxh-drawer-toggle-icon-color: $gray7 !default;

/// Drawer header logo (if used)
$pxh-drawer-header-image: url('../img/logo.png') !default;

/// Disabled until we figure out how to add a border without reducing the logo width
/// $pxh-drawer-border-color: transparent !default;

/// Disabled until we figure out how to add a border without reducing the logo width
/// $pxh-drawer-border-width: 0 !default;

/// Drawer box shadow
$pxh-drawer-box-shadow: none !default;

/// Width of drawer in wide state
/// @group pxh-drawer
/// @type Number
$pxh-drawer-width-wide: ($pxh-base-spacing-unit * 17) + ($pxh-base-spacing-unit / 3) !default;

/// Width of drawer in narrow state
/// @group pxh-drawer
/// @type Number
$pxh-drawer-width-narrow: $pxh-base-spacing-unit * 4 !default;

/// Drawer margin
/// @group pxh-drawer
/// @type Number
$pxh-drawer-margin: $pxh-base-spacing-unit + ($pxh-base-spacing-unit / 3) !default;

/// Font size of drawer header link
$pxh-drawer-header-link-font-size: $pxh-base-font-size * 1.266666666666666 !default;




/// @group pxh-error

/// Icon color for error messages
/// @group pxh-error
/// @type Color
$pxh-error-icon-color: $gray5 !default;

/// Title/header text color for error messages
/// @group pxh-error
/// @type Color
$pxh-error-title-text-color: $gray6 !default;

/// Description text color for error messages
/// @group pxh-error
/// @type Color
$pxh-error-description-text-color: $gray6 !default;

/// Top margin to offset error message from top of browser window
/// @group pxh-error
/// @type Number
$pxh-error-margin-top: $pxh-base-spacing-unit * 3 !default;

/// Top padding to give error message some breathing room
/// @group pxh-error
/// @type Number
$pxh-error-padding-top: $pxh-base-spacing-unit !default;

/// Text decoration for hyperlinks in error messages
/// @group pxh-error
/// @type String
$pxh-error-link-text-decoration: none !default;

/// Font size of error icon
$pxh-error-icon-font-size: $pxh-base-font-size * 4 !default;

/// Font size of error title
$pxh-error-title-font-size: $pxh-base-font-size * 1.333333333333333 !default;

/// Font size of error description
$pxh-error-description-font-size: $pxh-base-font-size !default;




/// @group pxh-login

/// Border color of the login component
$pxh-login-border-color: rgba($black, 0.15) !default;

/// Border width of the login component
$pxh-login-border-width: 1px 0 0 0 !default;

/// Color of the generic avatar icon
$pxh-login-avatar-icon-color: $gray7 !default;

/// Color of the generic avatar icon border
$pxh-login-avatar-icon-border-color: $gray7 !default;

/// Width of the generic avatar icon border
$pxh-login-avatar-icon-border-width: 1px !default;

/// Color of the login settings menu link text
$pxh-login-settings-link-text-color: $gray7 !default;

/// Color on hover of the login settings menu link text
$pxh-login-settings-link-text-color-hover: $white !default;

$pxh-login-menu-text-color: $white !default;
$pxh-login-menu-bg-color: $black !default;
$pxh-login-menu-border-width: 1px !default;
$pxh-login-menu-border-color: $gray9 !default;
$pxh-login-menu-box-shadow: 0 1px 2px 0 rgba($black, 0.25) !default;

$pxh-login-menu-divider-border-width: 1px 0 0 0 !default;
$pxh-login-menu-divider-border-color: $gray10 !default;

$pxh-login-menu-link-text-color: $white !default;
$pxh-login-menu-link-text-color-hover: $white !default;
$pxh-login-menu-link-bg-color: transparent !default;
$pxh-login-menu-link-bg-color-hover: $gray10 !default;

$pxh-login-notifications-link-text-color: $gray7 !default;
$pxh-login-notifications-link-text-color-hover: $white !default;

$pxh-login-notifications-badge-text-color: $white !default;
$pxh-login-notifications-badge-text-color-hover: $white !default;

$pxh-login-notifications-badge-bg-color: $gray5 !default;
$pxh-login-notifications-badge-bg-color-green: $green !default;
$pxh-login-notifications-badge-bg-color-blue: $blue !default;
$pxh-login-notifications-badge-bg-color-orange: $orange !default;
$pxh-login-notifications-badge-bg-color-red: $red !default;

$pxh-login-font-size: $pxh-base-font-size !default;

$pxh-login-notifications-badge-font-size: $pxh-base-font-size * 0.8 !default;

$pxh-login-avatar-icon-font-size: $pxh-base-font-size * 1.133333333333333 !default;

/// Login component height
/// @group pxhtheme-login
/// @type Number
$pxh-login-height:  $pxh-base-spacing-unit * 4 !default;

/// User avatar height and width
/// @group pxhtheme-login
/// @type Number
$pxh-login-avatar-height-width: $pxh-base-spacing-unit * 2 !default;

/// "Magic number" centering for login components
/// @group pxhtheme-login
/// @type Number
$pxh-login-magic-centering: $pxh-base-spacing-unit - 1px !default;




/// @group pxh-navigation
$pxh-navigation-border-width: 1px 0 0 0 !default;
$pxh-navigation-border-color: rgba($black, 0.15) !default;

$pxh-navigation-item-icon-color: $gray7 !default;
$pxh-navigation-item-icon-color-hover: $gray4 !default;
$pxh-navigation-item-icon-color-selected: $white !default;
$pxh-navigation-item-icon-color-active: $white !default;

/// Navigation color for error icon
/// @group pxh-navigation
/// @type Color
$pxh-navigation-item-icon-color-error: $red !default;

/// Navigation link font color
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-text-color: $gray7 !default;

/// Navigation text color on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-text-color-hover: $gray4 !default;

/// Navigation text color for selected item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-text-color-selected: $white !default;

/// Navigation text color for active item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-text-color-active: $white !default;

$pxh-navigation-link-text-color-error: $gray7 !default;

/// Navigation link background color
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-bg-color: transparent !default;

/// Navigation background color on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-bg-color-hover: $gray9 !default;

/// Navigation background color for selected item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-bg-color-selected: $gray9 !default;

/// Navigation background color for active item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-link-bg-color-active: $gray9 !default;

$pxh-navigation-link-bg-color-error: transparent !default;

/// Navigation text color for sub-item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-link-text-color: $gray7 !default;

/// Navigation text color for sub-item on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-link-text-color-hover: $gray4 !default;

/// Navigation text color for selected sub-item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-link-text-color-selected: $white !default;

$pxh-navigation-sub-link-bg-color: transparent !default;
$pxh-navigation-sub-link-bg-color-hover: transparent !default;
$pxh-navigation-sub-link-bg-color-selected: transparent !default;

$pxh-navigation-sub-link-settings-text-color: $primary-blue !default;
$pxh-navigation-sub-link-settings-text-color-selected: $primary-blue !default;
$pxh-navigation-sub-link-settings-bg-color: transparent !default;
$pxh-navigation-sub-link-settings-bg-color-hover: transparent !default;
$pxh-navigation-sub-link-settings-bg-color-selected: transparent !default;

$pxh-navigation-sub-item-divider-height: 1px !default;
$pxh-navigation-sub-item-divider-color: $gray9; // used as bg color but that's an implementation detail

/// Navigation item link height
/// @group pxh-navigation
/// @type Number
$pxh-navigation-link-height: ($pxh-base-spacing-unit * 3) + 3px !default;

/// Navigation sub-item link height
/// @group pxh-navigation
/// @type Number
$pxh-navigation-sub-link-height: $pxh-base-spacing-unit * 2 !default;

/// Navigation margin for divider component
/// @group pxh-navigation
/// @type Number
$pxh-navigation-divider-margin: $pxh-base-spacing-unit - ($pxh-base-spacing-unit / 3) !default;

$pxh-navigation-link-font-size: $pxh-base-font-size !default;

$pxh-navigation-item-icon-error-font-size: $pxh-base-font-size * 1.266666666666666 !default;

$pxh-navigation-item-text-font-size: $pxh-base-font-size * 1.066666666666666 !default;

$pxh-navigation-sub-link-font-size: $pxh-base-font-size * 1.066666666666666 !default;




/// @group pxh-notifications

$pxh-notifications-text-color: $gray2 !default;

$pxh-notifications-bg-color: $gray10 !default;

$pxh-notifications-border-color: $gray7 !default;

$pxh-notifications-border-width: 1px !default;

$pxh-notifications-box-shadow: none !default;

$pxh-notifications-header-border-width: 0 0 1px 0 !default;

$pxh-notifications-header-border-color: $gray7 !default;

$pxh-notifications-link-text-color: $gray5 !default;

$pxh-notifications-link-text-color-hover: $primary-blue !default;

$pxh-notifications-clear-text-color: $gray5 !default;

$pxh-notifications-clear-text-color-hover: $primary-blue !default;

$pxh-notifications-empty-text-color: $gray7 !default;




/// @group pxh-notification

$pxh-notification-border-color: $gray9 !default;

$pxh-notification-border-width: 0 0 1px 0 !default;

$pxh-notification-icon-color: transparent !default;
$pxh-notification-icon-color-green: $green !default;
$pxh-notification-icon-color-blue: $blue !default;
$pxh-notification-icon-color-orange: $orange !default;
$pxh-notification-icon-color-red: $red !default;

$pxh-notification-link-text-color: $gray4 !default;

$pxh-notification-link-text-color-hover: $primary-blue !default;

$pxh-notification-more-button-text-color: $gray7 !default;

$pxh-notification-more-button-text-color-hover: $gray4 !default;

$pxh-notification-more-button-bg-color: $gray10 !default;

$pxh-notification-more-button-bg-color-hover: $gray9 !default;

$pxh-notification-dismiss-button-icon-color: $gray8 !default;

$pxh-notification-dismiss-button-icon-color-hover: $primary-blue !default;

/// Height of a (non-expanded) notification
/// @group pxh-notification
/// @type Number
$pxh-notification-height: ($pxh-base-spacing-unit * 4) + (($pxh-base-spacing-unit / 3) * 2) !default;

/// Default margin for notification components
/// @group pxh-notification
/// @type Number
$pxh-notification-margin: ($pxh-base-spacing-unit / 3) !default;

/// Maximum number of notifications to display at once
/// @group pxh-notification
/// @type Number
$pxh-notification-max-count: 5 !default;

$pxh-notification-font-size: $pxh-base-font-size * 1.066666666666666 !default;

$pxh-notification-icon-font-size: $pxh-base-font-size * 1.6 !default;




/// @group pxh-overlay
$pxh-overlay-bg-color: rgba($black, 0.7) !default;




/// @group pxh-spinner

/// Alpha transparency for pxh-spinner
/// @group pxh-spinner
/// @type Number
$pxh-spinner-alpha: 0.7 !default;

$pxh-spinner-base-color: rgba($gray4, $pxh-spinner-alpha) !default;
$pxh-spinner-accent-color: $primary-blue !default;

$pxh-spinner-base-color-inverted: rgba($gray8, $pxh-spinner-alpha) !default;
$pxh-spinner-accent-color-inverted: $pxh-spinner-accent-color !default;




/// @group pxh-toast
$pxh-toast-text-color: $gray5 !default;

$pxh-toast-bg-color: $gray10 !default;

$pxh-toast-more-bg: linear-gradient(to bottom, rgba($gray10, 0) 0%, rgba($gray10, 1) 50%); // gradients are considered CSS images not colors hence bg and not bg-color

$pxh-toast-more-button-text-color: $gray7 !default;

$pxh-toast-more-button-text-color-hover: $gray4 !default;

$pxh-toast-more-button-bg-color: $gray10 !default;

$pxh-toast-more-button-bg-color-hover: $gray9 !default;

$pxh-toast-more-button-border-color: $gray8 !default;

$pxh-toast-more-button-border-width: 1px !default;

$pxh-toast-button-text-color: $gray5 !default;

$pxh-toast-button-text-color-hover: $gray9 !default;

$pxh-toast-button-bg-color: $gray10 !default;

$pxh-toast-button-bg-color-hover: $gray9 !default;

$pxh-toast-button-border-color: $gray8 !default;

$pxh-toast-button-border-width: 1px !default;

$pxh-toast-timestamp-text-color: $gray8 !default;

$pxh-toast-dismiss-button-icon-color: $gray7 !default;

$pxh-toast-dismiss-button-icon-color-hover: $primary-blue !default;

$pxh-toast-icon-color: $white !default;

$pxh-toast-icon-bg-color: transparent !default;
$pxh-toast-icon-bg-color-green: $green !default;
$pxh-toast-icon-bg-color-blue: $blue !default;
$pxh-toast-icon-bg-color-orange: $orange !default;
$pxh-toast-icon-bg-color-red: $red !default;

/// Height of a (non-expanded) toast
/// @group pxh-toast
/// @type Number
$pxh-toast-height: $pxh-base-spacing-unit * 4 + (($pxh-base-spacing-unit / 3) * 2) !default;

/// Default margin for toast components
/// @group pxh-toast
/// @type Number
$pxh-toast-margin: $pxh-base-spacing-unit / 3 !default;

/// Maximum number of toasts to display at once
/// @group pxh-toast
/// @type Number
$pxh-toast-max-count: 3 !default;

$pxh-toast-font-size: $pxh-base-font-size * 1.066666666666666 !default;

$pxh-toast-more-button-font-size: $pxh-base-font-size * 0.866666666666666 !default;

$pxh-toast-dismiss-font-size: $pxh-base-font-size * 1.2 !default;

$pxh-toast-icon-font-size: $pxh-base-font-size * 1.866666666666666 !default;




/// @group pxh-view
$pxh-view-bg-color: transparent !default;

/// Options for pxh-view background colors
/// @group pxh-view
$pxh-view-bg-colors: (
  white: $white, 
  gray1: $gray1, 
  gray2: $gray2, 
  gray3: $gray3, 
  gray4: $gray4, 
  gray5: $gray5, 
  gray6: $gray6, 
  gray7: $gray7, 
  gray8: $gray8, 
  gray9: $gray9, 
  gray10: $gray10, 
  black: $black
 ) !default;

$pxh-view-header-bg-color: $white !default;

$pxh-view-header-border-color: rgba($black, 0.3) !default;

$pxh-view-header-border-width: 0 0 1px 0; // should allow all borders, but specify just the bottom to start

$pxh-view-header-drawer-toggle-icon-color: $black !default;

$pxh-view-header-title-link-text-color: $black !default;

$pxh-view-header-title-font-size: $pxh-base-font-size * 1.333333333333333 !default;

/// View header height
/// locked to current height of px-context-browser + 1px for bottom border
/// @group pxh-view
/// @type Number
$pxh-view-header-height: ($pxh-base-spacing-unit * 4) + 1px !default;




/// @group pxh-docs

$pxh-docs-bg-color: $white !default;
$pxh-docs-code-font-size: $pxh-base-font-size !default;
$pxh-docs-code-bg-color: #fff3f3 !default;
$pxh-docs-code-text-color: #900 !default;




/// @group pxh-scrollbars

$pxh-scrollbar-width: 7px !default;

$pxh-scrollbar-base-color: $gray10 !default;
$pxh-scrollbar-arrow-color: $gray8 !default;
$pxh-scrollbar-track-color: $gray10 !default;
$pxh-scrollbar-face-color:  $gray8 !default;

$pxh-scrollbar-track-border-color: $gray10 !default;
$pxh-scrollbar-track-border-width: 2px !default;

$pxh-scrollbar-thumb-color: $gray7 !default;
$pxh-scrollbar-thumb-border-color: $gray10 !default;
$pxh-scrollbar-thumb-border-width: 0 2px 0 2px !default;
