---
title: "Badges Demo"
bodyClass: "pxh-chromeful"
layout: "demo-badge.hbs"
---

    <div class="pxh-wrapper">
      <div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Badges Demo
          </a>
        </h1>
      </div>
      <div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
        <div class="pxh-docs">

          <p>This screen demonstrates...</p>

          <h1>pxh-badge</h1>
          <p>
            <span class="pxh-badge">888</span> - <em>Default</em><br>
            <span class="pxh-badge pxh-badge--primary">888</span> - Primary<br>
            <span class="pxh-badge pxh-badge--info">888</span> - Info<br>
            <span class="pxh-badge pxh-badge--healthy-black">888</span> - Healthy Black<br>
            <span class="pxh-badge pxh-badge--healthy-white">888</span> - Healthy White<br>
            <span class="pxh-badge pxh-badge--error">888</span> - Error<br>
            <span class="pxh-badge pxh-badge--warning">888</span> - Warning<br>
            <span class="pxh-badge pxh-badge--important">888</span> - Important<br>
            <span class="pxh-badge pxh-badge--navigation">888</span> - Navigation
          </p>

          <p>
            <span class="pxh-badge pxh-badge--truncated">8</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">88</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">888</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">8,888</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">88,888</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">888,888</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">8,888,888</span> - Truncated<br>
            <span class="pxh-badge pxh-badge--truncated">88,888,888</span> - Truncated<br>
          </p>
        </div>
      </div>
    </div>
