---
title: "Chromeful Layout Demo"
bodyClass: "pxh-chromeful"
layout: "demo-chromeful.hbs"
---

    <div class="pxh-wrapper">
      <div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            "Chromeful" Layout Demo
          </a>
        </h1>
      </div>
      <div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg">

        <div class="pxh-docs">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id neque scelerisque, venenatis felis sed, convallis magna. Suspendisse potenti. Donec eget finibus dui, vitae commodo mi. Suspendisse pharetra efficitur facilisis. Aenean vulputate convallis turpis, vitae venenatis sem vehicula in. Etiam tempor nulla sed massa ultricies sodales. Etiam tincidunt id leo a luctus. Etiam magna nibh, sodales sit amet scelerisque ut, mattis sodales ligula. Aenean bibendum massa in mollis bibendum. Integer id leo iaculis, dictum dui ultricies, lacinia mi. Suspendisse sodales odio sed cursus pretium. Maecenas ac laoreet velit, quis tempus leo.</p>

          <p>Proin id justo volutpat, auctor lacus et, sodales lorem. Aliquam erat volutpat. Integer accumsan placerat facilisis. Morbi venenatis elementum mauris, a fermentum quam eleifend sit amet. Suspendisse risus enim, viverra quis nulla sit amet, porta ultrices diam. Cras fringilla orci sed nulla sollicitudin, in sollicitudin enim porttitor. Donec imperdiet lectus augue, a dictum ex luctus et. Sed hendrerit egestas lorem. Donec consequat lobortis congue. Integer suscipit, sem vel faucibus elementum, justo magna laoreet nisl, eu consectetur velit tortor molestie neque. Aliquam ut enim at eros aliquam ullamcorper vel eleifend tortor. Donec sagittis elit quis ullamcorper aliquam. Sed molestie aliquam lacus ultricies laoreet. Morbi lobortis tortor sed neque rutrum, at porttitor elit dictum. Nullam fermentum finibus eros, quis laoreet nisl rutrum at.</p>

          <p>Duis porta massa odio, non facilisis nisi lacinia ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut ex suscipit, tincidunt arcu et, lobortis enim. Cras non enim sit amet lorem ornare tempor. Nullam eget orci pellentesque est ornare placerat. Pellentesque massa elit, pretium ac libero eget, pretium dignissim metus. Suspendisse in justo urna.</p>

          <p>Nam eu augue dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eget laoreet dui. Nam facilisis eros non tortor facilisis, nec eleifend augue cursus. Integer imperdiet risus nulla, efficitur varius nibh aliquet et. Vivamus ultricies congue est. Vivamus sodales libero vitae arcu laoreet, in tristique ligula blandit. Aenean vehicula orci in mauris faucibus ultricies. Curabitur egestas, orci ac accumsan sagittis, justo nibh viverra nunc, laoreet rutrum purus odio eget leo. Sed consequat augue id turpis venenatis, a congue quam hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque in elit a massa hendrerit consequat et non lorem. Mauris varius justo a lectus tempor consectetur vel id felis. Praesent eu quam eu metus sagittis bibendum sit amet hendrerit lorem. Etiam vitae ante vehicula, placerat dui quis, mattis lectus.</p>

          <p>Donec laoreet maximus tincidunt. Mauris eget ex eget eros suscipit lacinia quis id urna. Proin at bibendum tellus. Donec cursus neque in arcu rhoncus, sit amet sagittis metus ultricies. Suspendisse scelerisque condimentum ante, sed semper mauris sollicitudin in. Mauris euismod commodo lacinia. Cras dignissim enim at mi sodales faucibus. Sed arcu mauris, commodo et dapibus volutpat, hendrerit vitae ante. Donec sed est porta, ornare nunc eget, accumsan lectus. Curabitur mattis odio leo, non accumsan est blandit eu.</p>
        </div>
      </div>
    </div>
