<div class="pxh-drawer pxh-drawer--hidden-until@md pxh-drawer--narrow@md pxh-drawer--wide@lg" id="js-drawer">
  <div class="pxh-drawer-toggle">
    <a href="#" class="pxh-drawer-toggle__link">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="291 489.4 20 16" class="pxh-drawer-toggle__icon"><path d="M291 489.4v4h20v-4h-20zm0 10h20v-4h-20v4zm0 6h20v-4h-20v4z"></path></svg>
    </a>
  </div>
  <h1 class="pxh-drawer-header">
    <a href="index.html" class="pxh-drawer-header__link pxh-drawer-header__link--narrow@md pxh-drawer-header__link--wide@lg" title="Predix">
      Predix
    </a>
  </h1>
  <div class="pxh-login pxh-login--narrow@md pxh-login--wide@lg">
    <a href="#" class="pxh-login__profile-link" title="Sign In">
      <div class="pxh-login__avatar">
        <i class="fa fa-user pxh-login__avatar-icon"></i>
      </div>
      <div class="pxh-login__name pxh-login__name--narrow@md pxh-login__name--wide@lg">
        Sign In
      </div>
    </a>
  </div>
</div>
