<div class="pxh-drawer pxh-drawer--hidden-until@md pxh-drawer--narrow@md pxh-drawer--wide@lg" id="js-drawer">
  <div class="pxh-drawer-toggle">
    <a href="#" class="pxh-drawer-toggle__link">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="291 489.4 20 16" class="pxh-drawer-toggle__icon"><path d="M291 489.4v4h20v-4h-20zm0 10h20v-4h-20v4zm0 6h20v-4h-20v4z"></path></svg>
    </a>
  </div>
  <h1 class="pxh-drawer-header pxh-drawer-header--image">
    <a href="index.html" class="pxh-drawer-header__link pxh-drawer-header__link--image pxh-drawer-header__link--narrow@md pxh-drawer-header__link--wide@lg" title="Predix">
      Predix
    </a>
  </h1>
  <div class="pxh-navigation pxh-navigation--narrow@md pxh-navigation--wide@lg">
    <ul class="pxh-navigation__list">
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Dashboard</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="">
          <i class="fa fa-file pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Spaces</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="">
          <i class="fa fa-book pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Catalog</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="">
          <i class="fa fa-cog pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Preferences</div>
        </a>
      </li>
    </ul>
  </div>

  <div class="pxh-login pxh-login--narrow@md pxh-login--wide@lg">
    <a href="#" class="pxh-login__profile-link" title="User with an extremely long name">
      <div class="pxh-login__avatar">
        <img src="img/avatar.jpg" class="pxh-login__avatar-image">
      </div>
      <div class="pxh-login__name pxh-login__name--narrow@md pxh-login__name--wide@lg">
        User with an extremely long name
      </div>
      <div class="pxh-login__caret pxh-login__caret--narrow@md pxh-login__caret--wide@lg">
        <i class="fa fa-angle-up pxh-login__caret-icon"></i>
      </div>
    </a>
    <div class="pxh-login-menu pxh-login-menu--profile">
      <ul class="pxh-login-menu__list">
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="My Profile">My Profile</a>
        </li>
        <li class="pxh-login-menu__divider"></li>
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="Sign Out">Sign Out</a>
        </li>
      </ul>
    </div>
    <div class="pxh-login-menu pxh-login-menu--settings">
      <ul class="pxh-login-menu__list">
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="Settings">Settings</a>
        </li>
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="About">About</a>
        </li>
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="Help">Help</a>
        </li>
      </ul>
    </div>
    <div class="pxh-login__notifications pxh-login__notifications--narrow@md pxh-login__notifications--wide@lg pxh-display-none" id="js-login__notifications">
      <a href="#" class="pxh-login__notifications-badge pxh-login__notifications-badge--red pxh-login__notifications-badge--hidden" id="js-login__notifications-badge" title="View Notifications">0</a>
      <a href="#" class="pxh-login__notifications-link" title="View Notifications"><i class="fa fa-bell"></i></a>
    </div>
    <div class="pxh-login__settings pxh-login__settings--narrow@md pxh-login__settings--wide@lg">
      <a class="pxh-login__settings-link" href="#" title="Settings"><i class="fa fa-cog"></i></a>
    </div>
  </div>
</div>
