<div class="pxh-drawer pxh-drawer--hidden-until@md pxh-drawer--narrow@md pxh-drawer--wide@lg" id="js-drawer">
  <div class="pxh-drawer-toggle">
    <a href="#" class="pxh-drawer-toggle__link">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="291 489.4 20 16" class="pxh-drawer-toggle__icon"><path d="M291 489.4v4h20v-4h-20zm0 10h20v-4h-20v4zm0 6h20v-4h-20v4z"></path></svg>
    </a>
  </div>
  <h1 class="pxh-drawer-header">
    <a href="index.html" class="pxh-drawer-header__link pxh-drawer-header__link--narrow@md pxh-drawer-header__link--wide@lg" title="Predix">
      Predix
    </a>
  </h1>
  <div class="pxh-navigation pxh-navigation--narrow@md pxh-navigation--wide@lg">
    <ul class="pxh-navigation__list">
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link pxh-navigation__link--active" title="Primary Item - Active">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Primary Item - Active</div>
        </a>
        <ul class="pxh-navigation__sub-list">
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item">
              <div class="pxh-navigation__sub-item-text">Sub Item</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item">
              <div class="pxh-navigation__sub-item-text">Sub Item</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link pxh-navigation__sub-link--selected" title="Sub Item - Selected">
              <div class="pxh-navigation__sub-item-text">Sub Item - Selected</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item">
              <div class="pxh-navigation__sub-item-text">Sub Item</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item with an extremely long name">
              <div class="pxh-navigation__sub-item-text">Sub Item with an extremely long name</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item pxh-navigation__sub-item--divider"></li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link pxh-navigation__sub-link--settings" title="Sub Item - Action"><div class="pxh-navigation__sub-item-text">Sub Item - Action</div></a>
          </li>
        </ul>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Primary Item">
          <i class="fa fa-bar-chart pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Primary Item</div>
        </a>
        <ul class="pxh-navigation__sub-list pxh-navigation__sub-list--hidden">
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item - Hidden">
              <div class="pxh-navigation__sub-item-text">Sub Item - Hidden</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item - Hidden">
              <div class="pxh-navigation__sub-item-text">Sub Item - Hidden</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item - Hidden">
              <div class="pxh-navigation__sub-item-text">Sub Item - Hidden</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Sub Item - Hidden">
              <div class="pxh-navigation__sub-item-text">Sub Item - Hidden</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Primary Item with an extremely long name">
          <i class="fa fa-table pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Primary Item with an extremely long name</div>
        </a>
      </li>
      <li class="pxh-navigation__item pxh-navigation__item--error">
        <a href="#" class="pxh-navigation__link" title="Primary Item - Error">
          <i class="fa fa-exclamation-circle pxh-navigation__item-icon pxh-navigation__item-icon--error"></i>
          <div class="pxh-navigation__item-text">Primary Item - Error</div>
        </a>
      </li>
    </ul>
  </div>

</div>
