<div class="pxh-drawer pxh-drawer--hidden-until@md pxh-drawer--narrow@md pxh-drawer--wide@lg" id="js-drawer">
  <div class="pxh-drawer-toggle">
    <a href="#" class="pxh-drawer-toggle__link">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="291 489.4 20 16" class="pxh-drawer-toggle__icon"><path d="M291 489.4v4h20v-4h-20zm0 10h20v-4h-20v4zm0 6h20v-4h-20v4z"></path></svg>
    </a>
  </div>
  <h1 class="pxh-drawer-header">
    <a href="index.html" class="pxh-drawer-header__link pxh-drawer-header__link--narrow@md pxh-drawer-header__link--wide@lg" title="Predix">
      Predix
    </a>
  </h1>
  <div class="pxh-navigation pxh-navigation--narrow@md pxh-navigation--wide@lg">
    <ul class="pxh-navigation__list">
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link pxh-navigation__link--active" title="Badge">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge</div>
          <div class="pxh-badge">888</div>
        </a>
        <ul class="pxh-navigation__sub-list">
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link pxh-navigation__sub-link--selected" title="Badge">
              <div class="pxh-navigation__sub-item-text">Badge</div>
              <div class="pxh-badge">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Navigation">
              <div class="pxh-navigation__sub-item-text">Badge - Navigation</div>
              <div class="pxh-badge pxh-badge--navigation">888</div>
            </a>
          </li>

          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Primary">
              <div class="pxh-navigation__sub-item-text">Badge - Primary</div>
              <div class="pxh-badge pxh-badge--primary">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Info">
              <div class="pxh-navigation__sub-item-text">Badge - Info</div>
              <div class="pxh-badge pxh-badge--info">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Healthy Black">
              <div class="pxh-navigation__sub-item-text">Badge - Healthy Black</div>
              <div class="pxh-badge pxh-badge--healthy-black">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Healthy White">
              <div class="pxh-navigation__sub-item-text">Badge - Healthy White</div>
              <div class="pxh-badge pxh-badge--healthy-white">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Error">
              <div class="pxh-navigation__sub-item-text">Badge - Error</div>
              <div class="pxh-badge pxh-badge--error">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Warning">
              <div class="pxh-navigation__sub-item-text">Badge - Warning</div>
              <div class="pxh-badge pxh-badge--warning">888</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="#" class="pxh-navigation__sub-link" title="Badge - Important">
              <div class="pxh-navigation__sub-item-text">Badge - Important</div>
              <div class="pxh-badge pxh-badge--important">888</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Navigation">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Navigation</div>
          <div class="pxh-badge pxh-badge--navigation">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Primary">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Primary</div>
          <div class="pxh-badge pxh-badge--primary">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Info">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Info</div>
          <div class="pxh-badge pxh-badge--info">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Healthy Black">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Healthy Black</div>
          <div class="pxh-badge pxh-badge--healthy-black">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Healthy White">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Healthy White</div>
          <div class="pxh-badge pxh-badge--healthy-white">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Error">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Error</div>
          <div class="pxh-badge pxh-badge--error">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Warning">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Warning</div>
          <div class="pxh-badge pxh-badge--warning">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Important">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Important</div>
          <div class="pxh-badge pxh-badge--important">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge accompanied by really long text">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge accompanied by really long text</div>
          <div class="pxh-badge pxh-badge--truncated">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Truncated">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Truncated</div>
          <div class="pxh-badge pxh-badge--truncated">888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Truncated">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Truncated</div>
          <div class="pxh-badge pxh-badge--truncated">8,888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Truncated">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Truncated</div>
          <div class="pxh-badge pxh-badge--truncated">88,888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Truncated">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Truncated</div>
          <div class="pxh-badge pxh-badge--truncated">888,888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Truncated">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Truncated</div>
          <div class="pxh-badge pxh-badge--truncated">8,888,888</div>
        </a>
      </li>
      <li class="pxh-navigation__item">
        <a href="#" class="pxh-navigation__link" title="Badge - Truncated">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Badge - Truncated</div>
          <div class="pxh-badge pxh-badge--truncated">88,888,888</div>
        </a>
      </li>
    </ul>
  </div>

</div>
