<div class="pxh-drawer pxh-drawer--hidden-until@md pxh-drawer--narrow@md pxh-drawer--wide@lg" id="js-drawer">
  <div class="pxh-drawer-toggle">
    <a href="#" class="pxh-drawer-toggle__link">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="291 489.4 20 16" class="pxh-drawer-toggle__icon"><path d="M291 489.4v4h20v-4h-20zm0 10h20v-4h-20v4zm0 6h20v-4h-20v4z"></path></svg>
    </a>
  </div>
  <h1 class="pxh-drawer-header">
    <a href="index.html" class="pxh-drawer-header__link pxh-drawer-header__link--narrow@md pxh-drawer-header__link--wide@lg" title="Predix">
      Predix
    </a>
  </h1>
  <div class="pxh-navigation pxh-navigation--narrow@md pxh-navigation--wide@lg">
    <ul class="pxh-navigation__list">
      <li class="pxh-navigation__item">
        <a href="index.html" class="pxh-navigation__link" title="Documentation">
          <i class="fa fa-file pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Documentation</div>
        </a>
        <ul class="pxh-navigation__sub-list">
          <li class="pxh-navigation__sub-item">
            <a href="docs-drawer.html" class="pxh-navigation__sub-link" title="Drawer, View &amp; View Header">
              <div class="pxh-navigation__sub-item-text">Drawer, View &amp; View Header</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-drawer-header-image.html" class="pxh-navigation__sub-link" title="View Header Image">
              <div class="pxh-navigation__sub-item-text">Drawer Header Image</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-navigation.html" class="pxh-navigation__sub-link" title="Drawer Navigation">
              <div class="pxh-navigation__sub-item-text">Drawer Navigation</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-badge.html" class="pxh-navigation__sub-link" title="Badges">
              <div class="pxh-navigation__sub-item-text">Badges</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-spinner.html" class="pxh-navigation__sub-link" title="Loading Indicator">
              <div class="pxh-navigation__sub-item-text">Loading Indicator</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-overlay.html" class="pxh-navigation__sub-link" title="Overlay">
              <div class="pxh-navigation__sub-item-text">Overlay</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-error-postchrome.html" class="pxh-navigation__sub-link" title="Error State">
              <div class="pxh-navigation__sub-item-text">Error State</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="docs-resize-event.html" class="pxh-navigation__sub-link" title="Resize Event">
              <div class="pxh-navigation__sub-item-text">Resize Event</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="pxh-navigation__item">
        <a href="index.html" class="pxh-navigation__link" title="Screens">
          <i class="fa fa-dashboard pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Screens</div>
        </a>
        <ul class="pxh-navigation__sub-list">
          <li class="pxh-navigation__sub-item">
            <a href="demo-chromeful.html" class="pxh-navigation__sub-link" title="Chromeful Layout">
              <div class="pxh-navigation__sub-item-text">Chromeful Layout</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-chromeless.html" class="pxh-navigation__sub-link" title="Chromeless Layout">
              <div class="pxh-navigation__sub-item-text">Chromeless Layout</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item pxh-navigation__sub-item--divider"></li>
          <li class="pxh-navigation__sub-item">
            <a href="error-prechrome-preauth.html" class="pxh-navigation__sub-link" title="Splash Error - w/o Auth">
              <div class="pxh-navigation__sub-item-text">Splash Error - w/o Auth</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="error-prechrome-postauth.html" class="pxh-navigation__sub-link" title="Splash Error - w/ Auth">
              <div class="pxh-navigation__sub-item-text">Splash Error - w/ Auth</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="error-postchrome.html" class="pxh-navigation__sub-link" title="Chromeful App Error">
              <div class="pxh-navigation__sub-item-text">App Error - Chromeful</div>
            </a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="error-chromeless.html" class="pxh-navigation__sub-link" title="Chromeless App Error">
              <div class="pxh-navigation__sub-item-text">App Error - Chromeless</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="pxh-navigation__item">
        <a href="index.html" class="pxh-navigation__link" title="Component Demos">
          <i class="fa fa-table pxh-navigation__item-icon"></i>
          <div class="pxh-navigation__item-text">Component Demos</div>
        </a>
        <ul class="pxh-navigation__sub-list">
          <li class="pxh-navigation__sub-item">
            <a href="demo-drawer.html" class="pxh-navigation__sub-link" title="Drawer, View &amp; View Header"><div class="pxh-navigation__sub-item-text">Drawer, View &amp; View Header</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-drawer-header-image.html" class="pxh-navigation__sub-link" title="Drawer with Header Image"><div class="pxh-navigation__sub-item-text">Drawer with Header Image</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-navigation.html" class="pxh-navigation__sub-link" title="Drawer Navigation"><div class="pxh-navigation__sub-item-text">Drawer Navigation</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-login-signed-in.html" class="pxh-navigation__sub-link" title="Drawer Login - Signed In"><div class="pxh-navigation__sub-item-text">Drawer Login - Signed In</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-login-signed-out.html" class="pxh-navigation__sub-link" title="Drawer Login - Signed Out"><div class="pxh-navigation__sub-item-text">Drawer Login - Signed Out</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-badge.html" class="pxh-navigation__sub-link" title="Badges"><div class="pxh-navigation__sub-item-text">Badges</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-toasts.html" class="pxh-navigation__sub-link" title="Badges"><div class="pxh-navigation__sub-item-text">Toasts &amp; Notifications</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-spinner.html" class="pxh-navigation__sub-link" title="Loading Indicator"><div class="pxh-navigation__sub-item-text">Loading Indicator</div></a>
          </li>
          <li class="pxh-navigation__sub-item">
            <a href="demo-rtl.html" class="pxh-navigation__sub-link" title="Right-to-Left Layout"><div class="pxh-navigation__sub-item-text">Right-to-Left Layout</div></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="pxh-login pxh-login--narrow@md pxh-login--wide@lg">
    <a href="#" class="pxh-login__profile-link" title="User with an extremely long name">
      <div class="pxh-login__avatar">
        <img src="img/avatar.jpg" class="pxh-login__avatar-image">
      </div>
      <div class="pxh-login__name pxh-login__name--narrow@md pxh-login__name--wide@lg">
        User with an extremely long name
      </div>
      <div class="pxh-login__caret pxh-login__caret--narrow@md pxh-login__caret--wide@lg">
        <i class="fa fa-angle-up pxh-login__caret-icon"></i>
      </div>
    </a>
    <div class="pxh-login-menu pxh-login-menu--profile">
      <ul class="pxh-login-menu__list">
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="My Profile">My Profile</a>
        </li>
        <li class="pxh-login-menu__divider"></li>
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="Sign Out">Sign Out</a>
        </li>
      </ul>
    </div>
    <div class="pxh-login-menu pxh-login-menu--settings">
      <ul class="pxh-login-menu__list">
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="Settings">Settings</a>
        </li>
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="About">About</a>
        </li>
        <li class="pxh-login-menu__item">
          <a class="pxh-login-menu__link" href="#" title="Help">Help</a>
        </li>
      </ul>
    </div>
    <div class="pxh-login__notifications pxh-login__notifications--narrow@md pxh-login__notifications--wide@lg pxh-display-none" id="js-login__notifications">
      <a href="#" class="pxh-login__notifications-badge pxh-login__notifications-badge--red pxh-login__notifications-badge--hidden" id="js-login__notifications-badge" title="View Notifications">0</a>
      <a href="#" class="pxh-login__notifications-link" title="View Notifications"><i class="fa fa-bell"></i></a>
    </div>
    <div class="pxh-login__settings pxh-login__settings--narrow@md pxh-login__settings--wide@lg">
      <a class="pxh-login__settings-link" href="#" title="Settings"><i class="fa fa-cog"></i></a>
    </div>
  </div>
</div>
