    <div class="pxh-notifications pxh-notifications@md pxh-notifications--narrow@md pxh-notifications--wide@lg" id="js-notifications">
      <div class="pxh-notifications__header">
        <div class="pxh-notifications__action">
          <a href="#" class="pxh-notifications__link">View Log</a>
        </div>
        <div class="pxh-notifications__title">
          Notifications
        </div>
        <div class="pxh-notifications__clear">
          <a href="#" class="pxh-notifications__link" id="js-notifications__link--clear">Clear</a>
        </div>
      </div>
      <div class="pxh-notifications__list pxh-notifications__list@md" id="js-notifications__list">
        <div class="pxh-notifications__empty">There are no new notifications.</div>
      </div>
    </div>
